@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Unit>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Newtonsoft.Json
@{
    Layout = "InnerPage.cshtml";
    var isRTL = Model.CurrentCulture.TwoLetterISOLanguageName == "ar";
    var siteRoot = Model.Content.Site();
    var project = Model.Content.AncestorsOrSelf(3).ElementAt(0);

    var facilitiesArr = project.GetPropertyValue<nuPickers.Picker>("Project_Facilities").PickedKeys.ToArray();

    var featuredUnits = siteRoot.Descendants("unit").Where(i => i.GetPropertyValue<bool>("Unit_IsFeatured")).Take(5);

    string propertyType = Model.Content.GetPropertyValue<KeyValuePair<string, string>>("Unit_Type").Key;
    var projectUnits = Model.Content.Parent.Descendants("unit").Where(i => i.Id != Model.Content.Id /*&& i.GetPropertyValue<KeyValuePair<string, string>>("Unit_Type").Key == propertyType*/);
}

<section class="property-details padding-bottom-64">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Gallery -->
                <div class="row">
                    <div class="col-md-12">
                        <div id="property-d-1" class="owl-carousel">
                            <div class="item slider-item" style="background-image: url('@(Model.Content.Unit_MainImage.Url)'); background-position: center center; background-size: cover;"></div>
                            @if (Model.Content.HasValue("Unit_Images"))
                            {
                                foreach (var img in Model.Content.Unit_Images)
                                {
                                    <div class="item slider-item" style="background-image: url('@(img.Url)'); background-position: center center; background-size: cover;"></div>
                                }
                            }
                        </div>
                        <div id="property-d-1-2" class="owl-carousel">
                            <div class="item thumb-item" style="background-image: url('@(Model.Content.Unit_MainImage.Url)'); background-position: center center; background-size: cover;"></div>
                            @if (Model.Content.HasValue("Unit_Images"))
                            {
                                foreach (var img in Model.Content.Unit_Images)
                                {
                                    <div class="item thumb-item" style="background-image: url('@(img.Url)'); background-position: center center; background-size: cover;"></div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div id="main-features" class="row number-counters text-center mt-30">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counters-item">
                            <i class="fa fa-object-group" aria-hidden="true"></i>
                            <strong>
                                <span>@(Model.Content.Unit_Area + " " + Umbraco.GetDictionaryValue("AreaSqM"))</span>
                            </strong>
                            <p>@Umbraco.GetDictionaryValue("UnitArea") </p>
                            <div class="border-inner"></div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counters-item">
                            <i class="fa fa-bed" aria-hidden="true"></i>
                            <strong>
                                <span>@Model.Content.Unit_BedRooms</span>
                            </strong>
                            <p>@Umbraco.GetDictionaryValue("BedRooms")</p>
                            <div class="border-inner"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="counters-item">
                            <i class="fa fa-bath" aria-hidden="true"></i>
                            <strong>
                                <span>@Model.Content.Unit_BathRooms</span>
                            </strong>
                            <p>@Umbraco.GetDictionaryValue("BathRooms")</p>
                            <div class="border-inner"></div>
                        </div>
                    </div>
                </div>
                <div class="row top40">
                    <div class="col-xs-12">
                        <h3 class="text-uppercase bottom30"><span class="color_green">@Umbraco.GetDictionaryValue("Summary")</span></h3>
                        <div class="line_1"></div>
                        <div class="line_2"></div>
                        <div class="line_3"></div>
                    </div>
                    <div class="property-d-table clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <table class="table table-striped table-responsive">
                                <tbody>
                                    <tr>
                                        <td><b>@Umbraco.GetDictionaryValue("UnitPrice")</b></td>
                                        @*<td class="text-right">@(Model.Content.HasValue("Unit_Price") ? Model.Content.Unit_Price.ToString("N0") + " " + @Umbraco.GetDictionaryValue("Currency") : "")</td>*@
                                        <td class="text-right">
                                            <a data-toggle="modal" data-target="#popumodal_request" class="rounded-button">
                                                <i class="icon-chat"></i>
                                                @Umbraco.GetDictionaryValue("AskForPrice")
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>@Umbraco.GetDictionaryValue("UnitArea")</b></td>
                                        <td class="text-right">@Model.Content.Unit_Area @Umbraco.GetDictionaryValue("AreaSqM")</td>
                                    </tr>
                                    <tr>
                                        <td><b>@Umbraco.GetDictionaryValue("UnitType")</b></td>
                                        <td class="text-right">@(Model.Content.GetPropertyValue<KeyValuePair<string, string>>("Unit_Type").Value)</td>
                                    </tr>
                                    <tr>
                                        <td><b>@Umbraco.GetDictionaryValue("Project")</b></td>
                                        <td class="text-right">@project.Name</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <table class="table table-striped table-responsive">
                                <tbody>
                                    <tr>
                                        <td><b>@Umbraco.GetDictionaryValue("BedRooms")</b></td>
                                        <td class="text-right">@Model.Content.Unit_BedRooms</td>
                                    </tr>
                                    <tr>
                                        <td><b>@Umbraco.GetDictionaryValue("BathRooms")</b></td>
                                        <td class="text-right">@Model.Content.Unit_BathRooms</td>
                                    </tr>
                                    <tr>
                                        <td><b>@Umbraco.GetDictionaryValue("Floor")</b></td>
                                        <td class="text-right">
                                            @(Model.Content.HasValue("Unit_Floor") ? Model.Content.GetPropertyValue<KeyValuePair<string, string>>("Unit_Floor").Value : String.Empty)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>@Umbraco.GetDictionaryValue("Flooring")</b></td>
                                        <td class="text-right">@(Model.Content.HasValue("Unit_Flooring") ? Model.Content.GetPropertyValue<KeyValuePair<string, string>>("Unit_Flooring").Value : String.Empty)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 top40">
                        <h3 class="text-uppercase bottom30"><span class="color_green">@Umbraco.GetDictionaryValue("Description")</span></h3>
                        <div class="line_1"></div>
                        <div class="line_2"></div>
                        <div class="line_3"></div>
                    </div>
                    <div class="col-md-12">
                        <p class="bottom30">@Html.Raw(Model.Content.Unit_Description)</p>

                    </div>
                </div>
                <div class="row top40">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="text-uppercase bottom30"><span class="color_green">@Umbraco.GetDictionaryValue("Facilities")</span></h3>
                                <div class="line_1"></div>
                                <div class="line_2"></div>
                                <div class="line_3"></div>
                            </div>
                            <div class="margin-r-20">
                                @{
                                    int j = 0;
                                    double colItemCount = Math.Ceiling(facilitiesArr.Length / 3f);
                                    while (j < facilitiesArr.Length)
                                    {
                                        <div class="col-md-4 col-sm-6 col-xs-12">

                                            <ul class="pro-list">
                                                @for (int k = 0; k < colItemCount && (k + j) < facilitiesArr.Length; k++)
                                                {
                                                    <li>
                                                        @Umbraco.GetDictionaryValue(facilitiesArr[k + j])
                                                    </li>
                                                }
                                                @{j += (int)colItemCount;}
                                            </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 top40">
                                <h2 class="text-uppercase"><span class="color-green">@Umbraco.GetDictionaryValue("ProjectMap")</span></h2>
                                <div class="line_1"></div>
                                <div class="line_2"></div>
                                <div class="line_3"></div>
                            </div>
                            <div class="col-md-12">
                                <div id="map_canvas" style="height: 350px;"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 margin-bottom-25">
                @if (!Request.Browser.IsMobileDevice)
                {
                    <h3 class="text-uppercase"><span class="color_green">@Umbraco.GetDictionaryValue("FeaturedUnits")</span></h3>
                    foreach (var featUnit in featuredUnits)
                    {
                        <div class="media rounded-border">
                            <div class="media-left media-middle">
                                <a href="@Umbraco.NiceUrl(featUnit.Id)">
                                    <img class="media-object featured-units-img" src="@Umbraco.Media(featUnit.GetPropertyValue<Image>("Unit_MainImage").Id).NiceUrl()" alt="@featUnit.Name">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="@Umbraco.NiceUrl(featUnit.Id)">@featUnit.Name</a></h4>
                                <p>@(featUnit.Parent.GetPropertyValue<KeyValuePair<string, string>>("Project_District").Value), @(featUnit.Parent.GetPropertyValue<KeyValuePair<string, string>>("Project_City").Value)</p>
                                <a href="@Umbraco.NiceUrl(featUnit.Id)">@Umbraco.GetDictionaryValue("ReadMore")</a>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 margin-bottom-25">
                @*
        <span class="fb-like" data-href="@Request.Url" data-layout="standard" data-width="350px" data-action="like" data-size="large" data-share="true"></span>
        <div class="fb-comments" data-href="@Request.Url" data-width="500px" data-numposts="10"></div>
                *@
                @if (Model.Content.GetPropertyValue<bool>("unit_IsSoldOut"))
                {
                    <div class="unit-status soldout">
                        <i class="fa fa-times-circle margin-r-20"></i>
                        @Umbraco.GetDictionaryValue("SoldOut")
                    </div>
                }
                else
                {
                    <div class="unit-status">
                        <i class="fa fa-check-circle margin-r-20"></i>
                        @Umbraco.GetDictionaryValue("Available")
                    </div>
                }
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <!-- Advanced Search Form -->
            </div>
        </div>
    </div>
</section>

<!-- Projects Listing -->
<section id="property" class="bg_light padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 bottom40">
                <h2 class="uppercase"><span class="color-green">@Umbraco.GetDictionaryValue("Units")</span></h2>
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                @{ Html.RenderPartial("UnitsFilter", Model, new ViewDataDictionary { new KeyValuePair<string, object>("UnitsList", projectUnits) }); }
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        var locations = [{
            lat: @(project.GetPropertyValue<decimal>("Project_Latitude")),
            lng: @(project.GetPropertyValue<decimal>("Project_Longitude")),
            markerUrl: '@(project.HasValue("Project_MapMarker")? project.GetPropertyValue<Image>("Project_MapMarker").Url: String.Empty)',
            title: '@project.GetPropertyValue("Name")',
            subtitle: '@project.GetPropertyValue("Project_FullAddress"), @(project.GetPropertyValue<KeyValuePair<string, string>>("Project_District").Value), @(project.GetPropertyValue<KeyValuePair<string, string>>("Project_City").Value)',
            imgUrl: '@(project.GetPropertyValue<Image>("Project_MainImage").Url)'
        }];
        
        initializeMap('map_canvas', locations);
    })
</script>